/* https://www.canva.com/colors/color-palettes/water-foam/ */

.back-yellow {
  background-color: yellow;
}

.back-orange {
  background-color: orange;
}

.back-violet {
  background-color: violet;
}

.mint {
  background-color: #ddffe7;
}

.spearmint {
  background-color: #98d7c2;
}
.teal-green {
  background-color: #167d7f;
}
.teal {
  background-color: #29a0b1;
}
