/* https://www.canva.com/colors/color-palettes/water-foam/ */

/* * {
  background-color: #ddffe7;
} */

.mint {
  background-color: #ddffe7;
}

.spearmint {
  background-color: #98d7c2;
}
.teal-green {
  background-color: #167d7f;
}
.teal {
  background-color: #29a0b1;
}
