body {
  font-family: "ABeeZee", sans-serif;
}

.back-yellow {
  background-color: yellow;
}

.back-orange {
  background-color: orange;
}

.back-violet {
  background-color: violet;
}

/* https://www.canva.com/colors/color-palettes/vintage-pastels/ */
.champagne {
  background-color: #feefde;
}

.lint {
  background-color: #dfdacd;
}

.baby-blue {
  background-color: #dae3e6;
}
